<footer class="py-4 bg-dark footer">
  <div class="container text-center">
    <small>Copyright &copy; <%= link_to 'ElearningSystem', 'https://github.com/Santho07/elearning-system' %></small>
  </div>
</footer>
